*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Patrick Hand;
}
.section{
    float:left;
    width: 100%;
    background-color: rgb(245, 241, 241);
    padding-bottom: 20px;
}
.header{
    float:left;
    height: 100px;
    background-color: darkred;
    position: fixed;
    margin:0px 0px;
}
.main{
    margin-top: 100px;
    padding-top: 50px;
    /*padding-bottom: 50px;*/
}
.center{
    width: 70%;
    margin: auto auto;
    min-height: 420px;
}
.detail{
    float: left;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 40px;
}
.detail h1{
    color: #432009;
}
.content{
    float: left;
}
.content img{
    width: 266px;
    /*border: 2px solid lightgrey;*/
    float: left;
}
.description{
    float:left;
    width: calc(100% - 300px);
    margin-left:30px;
    text-align: justify;
}
.description .textBig{
    font-size: 20px;
}
.select{
    margin-top: 30px;
}
.select tr{
    height: 30px;
}
.select td{
    margin-left: 10px;
}
.space{
    width: 10px;
}
.size{
    border: 2px solid lightgrey;
    padding: 5px 10px;
    margin-right: 10px;
}
.size:hover{
    cursor: pointer;
}
/*.purchaseButton {*/
/*    margin-top:10px;*/
/*    width: 200px;*/
/*    height: 50px;*/
/*    box-shadow: 5px 5px #cbc9c9;*/
/*}*/
/*.purchaseButton p{*/
/*    margin: auto auto;*/
/*    font-size:20px;*/
/*}*/
#price{
    font-weight: 500;
}
.suggest{
    width: 70%;
    margin: -40px auto 0px auto;
    /*padding-top: 30px;*/
}
.underline{
    border-top: 3px solid darkred;
    width: 110px;
    margin-bottom: 30px;
}
.suggestproduct{
    float: left;
    width: 100%;
    background-color: white;
}
/*.proinfo{*/
/*    margin-top: 50px;*/
/*    float: left;*/
/*    width: 29%;*/
/*    margin-right: 2%;*/
/*    margin-left: 2%;*/
/*    box-sizing: border-box;*/
/*    background-color: white;*/
/*}*/
/*.productimgs{*/
/*    width:100%;*/
/*    display: inline-block;*/
/*    !*border: 1px solid orange;*!*/
/*}*/
/*.productimgs:hover{*/
/*    cursor: pointer;*/
/*}*/
.proinfo{
    margin: 10px 10px;
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 16px;
}
/*.proinfo p{*/
/*    margin-left: 20px;*/
/*    text-align: justify;*/
/*}*/
.footer{
    height: 100px;
    /*margin-top: 50px;*/
    background-color: #0f0f0f;
    bottom:0;
}
#fbcontent{
    height:150px;
}
.submitbutton{
    padding: 5px 20px;
}
#backtohome{
    padding-top:50px;
    font-size: 20px;
}

.section.footer{
    width: 100%;
    height: 500px;
    background-image: url("../imgs/fottercoffee.jpg");
    background-size: cover;
    color: white;
}
.footer .namestore{
    float: left;
    margin-top: 50px;
    text-align: center;
}
.footer .namestore h1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;

}
.footer .listaddress{
    margin: 80px 0 0 100px;
    float: left;
    width: 445px;
}
.footer .connect {
    float: left;
    width: 200px;
    margin: 80px 0 0 100px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;

}
.footer .cover-footer{
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.6;
}
.footer .listaddress h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;

}
.footer .listaddress li{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 25px;

}
.footer .connect h2{
    font-size: 25px;
    padding-left: 10px;
    font-weight: 600;
}
.footer .connect ul{
    list-style: none;
    font-size: 30px;

}
.footer .connect ul li{
    margin: 30px 10px;
    float: left;
}
.footer .listaddress li:last-child{
    list-style: none;
}
.footer .footerunder{
    width:100%;
    float: left;
    margin-top: 50px;
    text-align: center;
    border-top: white solid 2px;
    font-size: 18px;
}
.footer .footerunder p{
    float: left ;
    margin-left: 100px;
}
.footer .footerunder div{
    float: left;
    margin-left: 200px;
}
.footer .footerunder div span{
    margin-right: 50px;
}