*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #faf7f7;
}

.section{
    float:left;
    width: 100%;
}
.header{
    background-image: url("../imgs/headergbr2.jpg");
    width: 100%;
    background-size: cover;
    color:white;
}
.nav{
    width: 100%;
    padding-top:20px;
    float:left;
}
.logo{
    float: left;
    font-weight: 700;
    width:250px;
    text-align: center;
}
.menufunction{
    float: left;
    width: calc(100% - 500px);
}
.menufunction .menu{
    padding-left: calc(50% - 210px);
}
.menufunction a{
    text-decoration: none;
    color:white;
}
.menufunction li{
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
}
.headertext{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.headertext a{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid white;
    margin-top: 10px;
    text-decoration: none;
    color:white;
}
.main{
    float: left;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
}
.bodymain{
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.contener{
    float: left;
    padding-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33% - 20px);

}
.contener img{
    width: 100%;
}
.titleimg{
    color: grey;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contener h3{
    padding-bottom: 10px;
}
.contener p{
    padding-bottom: 20px;
}
.contener a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #efecec;
    background-color: #efecec;
}
.olderpost{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.olderpost a{
    border: 1px solid #efecec;
    background-color: #efecec;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}
.footer {
    border: 1px solid #efecec;
    background-color: #efecec;
}
.footer1{
    width: 400px;
    margin-left:calc(50% - 200px);
    margin-right:calc(50% - 200px);
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e9e4e4;
}
.footer1 li{
    list-style: none;
    float: left;
    margin-left:30px;
}
.footer1 a{
    color: black;
    text-decoration: none;
}
.footer .footer2{
    border-bottom: none;
    font-size: 12px;
}
.footer2{
    width: 240px;
    margin-left:calc(50% - 120px);
    margin-right:calc(50% - 120px);
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer2 li{
    border-left: 1px solid black;
    margin-left: 5px;
    padding-left: 5px;
    list-style: none;
    float: left;
}
.footer2 .firstli{
    border-left: none;
}
.footer2 a{
    color: black;
    text-decoration: none;
}
.footer .titleimg{
    text-align: center;
}